.faq-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faq-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding-top: 150px;
  background-color: #b0cf671c;
  border-radius: 600px;
}

.faq-h1 h1 {
  color: #2B312D;
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
}

.faq-p p {
  color: #2b312dc2;
  font-weight: lighter;
  font-size: 1rem;
  margin: 0;
  padding: 100px;
}

.faq-lottie-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.faq-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.faq-item {
  background-color: #ebebeb15;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.faq-item:hover {
  transform: translateY(-5px);
}

.faq-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.faq-item h4 {
  color: #95af57;
  font-size: 18px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.faq-item p {
  color: #2b312dd2;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: lighter;
  padding-top: 5px;
}


.dark-mode p {
  color: #ffffff;
}

.dark-mode h1 {
  color: #ffffff;
}
