@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 80px;
  margin-top: 0;
  padding-bottom: 50px;
}

.recipe-card {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

.searchbar {
  background-color: #ffd976;
  border-radius: 400px;
  padding-bottom: 200px;
}

.recipe-name {
  margin-bottom: 10px;
}

.recipe-image {
  object-fit: cover;
  width: 150%;
  height: 150px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.295);
  border-radius: 7%;
  padding-top: 10px;
}

.recipe-details {
  margin-top: 10px;
}

.ratings {
  margin-bottom: 5px;
}

.chef-name {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.recipe-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.121);
  border-radius: 7%;
  overflow: hidden;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.dark-mode .recipe-card {
  background-color: #323334;
}

.recipe-card {
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

.footer {
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer p {
  margin-bottom: 10px;
  font-weight: lighter;
}

.banner {
  position: relative;
  text-align: center;
}

.banner-image {
  width: 100%;
}

.featured-section {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.featured-section h1 {
  font-size: 3rem;
  background-color: #b3cfc091;
  padding: 70px;
  border-radius: 500px;
  margin-bottom: 20px;
}

.featured-section p {
  font-size: 1.2rem;
  color: #777;
  font-style: italic;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
  background-color: #6b6b6b5e;
  border-radius: 50px;
  padding: 10px;
}

.carousel-item img {
  border-radius: 50px;
  border: 2px solid #ccc;
}

.search-container {
  padding-bottom: 50px;
}

.searchTitle {
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.searchTitle h1 {
  font-size: 2rem;
  font-weight: bold;
}

.searchTitle p {
  font-size: 1.2rem;
  color: #777;
}


.search-container .searchBar {
  display: flex;
  padding-bottom: 50px;
}

.searchbar {
  margin-bottom: 50px;
}

.dark-mode {
  background-color: #202022;
  color: #ffffff;
}

.dark-mode .banner-text h1 {
  color: rgba(255, 255, 255, 0.8);
}

.dark-mode .recipe-card {
  border: 1px solid #77777786;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.048);
}

.dark-mode .recipe-name,
.dark-mode .chef-name,
.dark-mode .ratings {
  color: #ffffff;
}

.dark-mode .searchbar {
  background-color: #302f34;
  border-radius: 400px;
  padding-bottom: 200px;
}

.dark-mode .searchbar input[type="text"] {
  background-color: #323334;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-mode .footer {
  background-color: #323334;
  color: #ffffff;
}

.dark-mode .footer p {
  color: #ffffff;
}

.gold {
  color: #8a9e93;
}

.recipe-name a {
  text-decoration: none;
  color: rgb(130, 173, 132);
}

.recipe-name a:hover {
  color: rgb(82, 99, 94);
}

.container-fluid {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-image {
  height: 600px;
  object-fit: contain;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 0px;
  left: 1400px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999;
  animation: fadeOut 3s ease-in-out;
}

.notification.removed {
  background-color: gray;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.dark-mode-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #3333335d;
  padding: 1rem;
  border-radius: 5px;
}

.dark-mode-toggle-container label {
  color: #fff;
  font-weight: bold;
}

.dark-mode-toggle-container .form-check {
  display: flex;
  align-items: center;
}

.dark-mode-toggle-container .form-check-input {
  margin-right: 0.5rem;
}

.dark-mode-toggle-container .form-check-label:before {
  background-color: #fff;
}

.dark-mode-toggle-container
  .form-check-input:checked
  + .form-check-label:before {
  background-color: #000;
}

.dark-mode-toggle-container .form-check-label:before {
  transition: background-color 0.3s ease;
}

.dark-mode-toggle-container
  .form-check-input:checked
  + .form-check-label:before {
  transition: background-color 0.3s ease;
}

.dark-mode .searchTitle h1 {
  background-color: #ccccccab;
}

.dark-mode .text-bg-light {
  background-color: rgb(64, 64, 64);
}

.searchTitle {
  text-align: center;
}

.searchTitle h1 {
  font-weight: bold;
  background-color: #f0584128;
  color: rgba(32, 30, 30, 0.726);
  padding: 100px;
  border-radius: 500px;
}

.searchTitle p {
  padding-top: 40px;
  color: #999;
}

.lottie-container {
  display: flex;
  height: 500px;
  width: 500px;
  margin-left: 0;
  margin-right: 20px;
  position: absolute;
  top: 2200px;
  padding-left: 0;
  padding-right: 100px;
  left: 20px;
  transform: rotateY(180deg);

}

.dark-mode .lottie-container {
  display: flex;
  height: 500px;
  width: 500px;
  margin-left: 0;
  margin-right: 20px;
  position: absolute;
  top: 2350px;
  padding-left: 0;
  padding-right: 100px;
  left: 20px;
  transform: rotateY(180deg);
}


.col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.search-container {
  display: flex;
  align-items: center;
}

.main-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dark-mode p {
  color: #ffffff;
}

.dark-mode h1 {
  color: #ffffff;
}
