.recipe-detail-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(108, 160, 103, 0.336);
  border-radius: 20%;
  padding: 50px;
}

.recipe-detail-card {
  position: flex;
  background-color: #b2cc92;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-weight: bold;
  color: rgba(114, 107, 94, 0.904);

  position: flex;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.recipe-detail-card p {
  margin-bottom: 10px;
}

.recipe-detail-card h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: beige;
  background-color: #c0d684;
  padding: 10px;
  border-radius: 5px;

  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
}

.recipe-detail-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.26);
  display: block;
  margin: 0 auto;
}

.recipe-detail-card .chef-name,
.recipe-detail-card .rating {
  font-weight: bold;
  color: rgba(114, 107, 94, 0.904);
}

.recipe-detail-card .list-group-item {
  margin-top: 20px;
  font-size: 16px;
  color: #6d7928;

  font-weight: bold;
}

.recipe-detail-card .list-group-item {
  margin-top: 20px;
  font-size: 16px;
}

.detail-description {
  margin-top: 20px;
  padding: 0 20px;
}

.detail-description p {
  font-size: 18px;
  color: #6d7928;
  font-weight: lighter;

  font-size: 18px;
  color: #333;
  font-weight: lighter;
}

.bi-star-fill {
  color: #8a9e93;
}

.bi-star {
  color: #8a9e93;
  opacity: 0.5;
}
